In [40]:
%autosave 0

Autosave disabled

In [41]:
import numpy as np
import pandas as pd
from sqlalchemy import text, create_engine

from env import get_connection

We can create dataframes from..
- Dictionaries
- SQL queries!

In [42]:
pd.DataFrame({'name':['adam', 'edwige', 'marc', 'theo'],
             'eyewear': ['glasses','none', 'glasses', 'glasses']})

#this is how you create data frame from a dictionary

     name  eyewear
0    adam  glasses
1  edwige     none
2    marc  glasses
3    theo  glasses

In order to run a SQL query against Codeup's database, we need a number of things:
- A URL with our credentials and desired database
- A SQLAlchemy engine object created on the URL
- A SQL query as a text object
- Run pd.read_sql() with the query and the engine.connect()

In [43]:
url = get_connection('farmers_market') #never to use this.

In [44]:
engine = create_engine(url)

In [48]:
query = '''
        SELECT *
        FROM customer_purchases
        INNER JOIN product ON customer_purchases.product_id = product.product_id
        '''

#this is to make it a string in python but being a function in sql

In [49]:
# now we have to call a text function
text_query = text(query)

In [50]:
df = pd.read_sql(text_query, engine.connect())
df.head()

,product_id,vendor_id,market_date,customer_id,quantity,cost_to_customer_per_qty,transaction_time,product_id,product_name,product_size,product_category_id,product_qty_type
0,1,7,2019-07-03,14,0.99,6.99,0 days 17:32:00,1,Habanero Peppers - Organic,medium,1,lbs
1,1,7,2019-07-03,14,2.18,6.99,0 days 18:23:00,1,Habanero Peppers - Organic,medium,1,lbs
2,1,7,2019-07-03,15,1.53,6.99,0 days 18:41:00,1,Habanero Peppers - Organic,medium,1,lbs
3,1,7,2019-07-03,16,2.02,6.99,0 days 18:18:00,1,Habanero Peppers - Organic,medium,1,lbs
4,1,7,2019-07-03,22,0.66,6.99,0 days 17:34:00,1,Habanero Peppers - Organic,medium,1,lbs

We will use the farmers_market database on Codeup's SQL server.

We will run the following query:

SELECT *  

FROM customer_purchases  

INNER JOIN product ON customer_purchases.product_id = product.product_id

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4221 entries, 0 to 4220
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   product_id                4221 non-null   int64
 1   vendor_id                 4221 non-null   int64
 2   market_date               4221 non-null   object
 3   customer_id               4221 non-null   int64
 4   quantity                  4221 non-null   float64
 5   cost_to_customer_per_qty  4221 non-null   float64
 6   transaction_time          4221 non-null   timedelta64[ns]
 7   product_id                4221 non-null   int64
 8   product_name              4221 non-null   object
 9   product_size              4221 non-null   object
 10  product_category_id       4221 non-null   int64
 11  product_qty_type          4221 non-null   object
dtypes: float64(2), int64(5), object(4), timedelta64[ns](1)
memory usage: 395.8+ KB

Boolean masking will not make a triumphant return but it's still relevant!

We can subset our dataframe using .loc and .iloc:
- .loc will use labels to access specific rows/columns
- .iloc will use index positions to access specific rows/columns

In [52]:
df.loc[:, 'vendor_id': 'transaction_time'].head() #the colon first represent give me all rows

,vendor_id,market_date,customer_id,quantity,cost_to_customer_per_qty,transaction_time
0,7,2019-07-03,14,0.99,6.99,0 days 17:32:00
1,7,2019-07-03,14,2.18,6.99,0 days 18:23:00
2,7,2019-07-03,15,1.53,6.99,0 days 18:41:00
3,7,2019-07-03,16,2.02,6.99,0 days 18:18:00
4,7,2019-07-03,22,0.66,6.99,0 days 17:34:00

In [ ]:
df.iloc[:5, 3:8]  #iloc first colon talks about the rows, second colon
#talks about the column

In [53]:
df.shape

(4221, 12)

We can use the .agg() method to perform a specified aggregate function on one column!

We can pass in a list of columns to aggregate and/or perform a list of aggregate functions!

In [ ]:
df.head()

In [54]:
df = df.assign(total_cost = df.quantity * df.cost_to_customer_per_qty)
df.head()

,product_id,vendor_id,market_date,customer_id,quantity,cost_to_customer_per_qty,transaction_time,product_id,product_name,product_size,product_category_id,product_qty_type,total_cost
0,1,7,2019-07-03,14,0.99,6.99,0 days 17:32:00,1,Habanero Peppers - Organic,medium,1,lbs,6.9201
1,1,7,2019-07-03,14,2.18,6.99,0 days 18:23:00,1,Habanero Peppers - Organic,medium,1,lbs,15.2382
2,1,7,2019-07-03,15,1.53,6.99,0 days 18:41:00,1,Habanero Peppers - Organic,medium,1,lbs,10.6947
3,1,7,2019-07-03,16,2.02,6.99,0 days 18:18:00,1,Habanero Peppers - Organic,medium,1,lbs,14.1198
4,1,7,2019-07-03,22,0.66,6.99,0 days 17:34:00,1,Habanero Peppers - Organic,medium,1,lbs,4.6134

In [55]:
df.total_cost.agg(['mean', 'max', 'min'])   #benefit of aggregation is you can use multiple 
#operation on it

mean     16.400648
max     144.000000
min       0.069800
Name: total_cost, dtype: float64

In [56]:
df.columns

Index(['product_id', 'vendor_id', 'market_date', 'customer_id', 'quantity',
       'cost_to_customer_per_qty', 'transaction_time', 'product_id',
       'product_name', 'product_size', 'product_category_id',
       'product_qty_type', 'total_cost'],
      dtype='object')

In [57]:
df[['quantity', 'total_cost']].agg(['mean', 'max', 'min'])

       quantity  total_cost
mean   2.858112   16.400648
max   20.000000  144.000000
min    0.020000    0.069800

We can use the .groupby() method to consider the unique values in a column.

We then specify a second column on which to perform some aggregate calculations!

In [60]:
df.groupby('product_name').total_cost.agg('mean').loc['Sweet Corn']

2.54063829787234

In [59]:
df.groupby('product_name').total_cost.value_counts()

product_name       total_cost
Apple Pie          18.0          287
                   36.0          172
                   54.0           85
                   72.0           16
                   90.0            7
                                ...
Whole Wheat Bread  19.5          109
                   32.5           84
                   39.0            5
                   45.5            4
                   52.0            1
Name: total_cost, Length: 435, dtype: int64

In [ ]:
df['avg_prod_cost'] = round(df.groupby('product_name').total_cost.transform('mean'), 2)

The .transform() method returns an aggregate calculation, where the result is the same length as the dataframe!

In [ ]:
#we can use np.where()to assign values based on a condition!

In [63]:
df['person'] = np.where(df.total_cost > 100, 'big_spender', 'normal person')
df.head()

,product_id,vendor_id,market_date,customer_id,quantity,cost_to_customer_per_qty,transaction_time,product_id,product_name,product_size,product_category_id,product_qty_type,total_cost,person
0,1,7,2019-07-03,14,0.99,6.99,0 days 17:32:00,1,Habanero Peppers - Organic,medium,1,lbs,6.9201,normal person
1,1,7,2019-07-03,14,2.18,6.99,0 days 18:23:00,1,Habanero Peppers - Organic,medium,1,lbs,15.2382,normal person
2,1,7,2019-07-03,15,1.53,6.99,0 days 18:41:00,1,Habanero Peppers - Organic,medium,1,lbs,10.6947,normal person
3,1,7,2019-07-03,16,2.02,6.99,0 days 18:18:00,1,Habanero Peppers - Organic,medium,1,lbs,14.1198,normal person
4,1,7,2019-07-03,22,0.66,6.99,0 days 17:34:00,1,Habanero Peppers - Organic,medium,1,lbs,4.6134,normal person

In [64]:
df.person.value_counts()

normal person    4218
big_spender         3
Name: person, dtype: int64

In [65]:
df[df.person == 'big_spender']
# we can associate why they are big spender

,product_id,vendor_id,market_date,customer_id,quantity,cost_to_customer_per_qty,transaction_time,product_id,product_name,product_size,product_category_id,product_qty_type,total_cost,person
3017,7,8,2020-05-02,21,6.0,18.0,0 days 11:02:00,7,Apple Pie,"10""",3,unit,108.0,big_spender
3486,8,8,2019-12-18,22,8.0,18.0,0 days 18:15:00,8,Cherry Pie,"10""",3,unit,144.0,big_spender
3503,8,8,2019-12-25,24,6.0,18.0,0 days 17:52:00,8,Cherry Pie,"10""",3,unit,108.0,big_spender