In [ ]:
%autosave 0

In [9]:
import numpy as np
import pandas as pd
from sqlalchemy import text, create_engine
from env import get_connection

In [17]:
url=get_connection('employees')
engine=create_engine(url)

In [18]:
query = '''
        SELECT *
        FROM employees
        '''
text_query = text(query)

In [26]:
df = pd.read_sql(text_query, engine.connect())
df.head()

   emp_no  birth_date first_name last_name gender   hire_date
0   10001  1953-09-02     Georgi   Facello      M  1986-06-26
1   10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2   10003  1959-12-03      Parto   Bamford      M  1986-08-28
3   10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4   10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12

In [30]:
df.sum(['emp_no + 1'])

TypeError: unhashable type: 'list'

In [45]:

query = '''
        SELECT *
        FROM titles
        '''
text_query = text(query)

df_titles = pd.read_sql(text_query, engine.connect())
df_titles.head()

   emp_no            title   from_date     to_date
0   10001  Senior Engineer  1986-06-26  9999-01-01
1   10002            Staff  1996-08-03  9999-01-01
2   10003  Senior Engineer  1995-12-03  9999-01-01
3   10004         Engineer  1986-12-01  1995-12-01
4   10004  Senior Engineer  1995-12-01  9999-01-01

In [46]:
df.head()

   emp_no            title   from_date     to_date
0   10001  Senior Engineer  1986-06-26  9999-01-01
1   10002            Staff  1996-08-03  9999-01-01
2   10003  Senior Engineer  1995-12-03  9999-01-01
3   10004         Engineer  1986-12-01  1995-12-01
4   10004  Senior Engineer  1995-12-01  9999-01-01

In [40]:
df_titles.shape

(443308, 4)

In [42]:
df_titles.groupby('titles')

KeyError: 'titles'

In [ ]:
https://ds.codeup.com/python/advanced-dataframes/#exercises-i