Do your work for this exercise in a jupyter notebook named hypothesis_testing.ipynb.

For each of the following questions, formulate a null and alternative hypothesis (be as specific as you can be), then give an example of what a true positive, true negative, type I and type II errors would look like. Note that some of the questions are intentionally phrased in a vague way. It is your job to reword these as more precise questions that could be tested.

Has the network latency gone up since we switched internet service providers?

Null hypothesis (H0): The network latency has not have any difference since we switched internet service providers.

Alternative hypothesis (Ha): The network latency has gone up since we switched internet service providers.

True Positive: Occurs when the network latency has indeed gone up since switching internet service providers, and the test correctly detects this increase in latency.
True Negative: Occurs when the network latency has not gone up since switching internet service providers, and the test correctly identifies that there is no increase in latency.No relationship, but we fail to reject

Type I Error (False Positive): Occurs when the network latency has not gone up since switching internet service providers, but the test incorrectly detects an increase in latency and falsely concludes that the latency has increased.
Type II Error (False Negative): Occurs when the network latency has gone up since switching internet service providers, but the test fails to detect this increase and incorrectly concludes that the latency has not increased.

Is the website redesign any good?

Null H0: website redesign does not do any good
Alternative Ha: website redesign boost online sale by 50% by convenient click to buy
    
True Positive: Occurs when the redesign increases sales 1 month after it was released online, and test correctly detect when there are high click to buy rate
True Negative: Occurs when the sales does not increase nor decrease 1 month after the release of a redesigned webpage even with the high click to buy
    
Type I False Positive: Occurs when sales does not increase with website redesign and test incorrectly detect that the sales increased and falsely concludes that the redesign was responsible
Type II error False Negative: Test fails to detect an increase in sales, even though sales has increase within 1 month of deploying new web design

Is our television ad driving more sales?

Null: Television ad does not drive more sales because there are more streaming audience than TV audience
Alternative: Television ad does drive up sales because it still expose product to what is left of TV audience
    
True Positive: Test correctly detect higher sales when TV ad were deploy 1 month
True Negative: Test correctly detect there are no changes in sales after 1 month of ad deployment
    
Type I: False Positive: Test incorrectly detect increase of sales even though sales does not increase after 1 month of ad deployment
Type II: False Negative: Test incorrectly detect no increase in sales even though sales does increase after 1 month of ad deployment.

Exercises
Continue working in your hypothesis_testing notebook.

Use the following contingency table to help answer the question of whether using a macbook and being a codeup student are independent of each other.

 	              Codeup Student	Not Codeup Student
Uses a Macbook	        49	               20
Doesn't Use A Macbook	1	               30
Choose another 2 categorical variables from the mpg dataset.

State your null and alternative hypotheses.
State your alpha.
Perform a chi2 test of indepedence.
State your conclusion

Null: no relationship between codeup vs noncodeupstudent
Alternative: CodeUp student tend to use Macbook

In [3]:
import numpy as np
import pandas as pd
from scipy import stats
from pydataset import data


data_one = np.array([[49, 20],
                 [1, 30]])
contingency_table = pd.DataFrame(data_one, index=['Use Macbook', 'No a Macbook'], columns=['Codeup Student', 'Not Codeup Student'])


chi2, p_value, dof, expected = stats.chi2_contingency(contingency_table)

In [4]:
chi2

36.65264142122487

In [5]:
p_value

1.4116760526193828e-09

In [6]:
dof

1

In [7]:
expected

array([[34.5, 34.5],
       [15.5, 15.5]])

In [8]:
a = 0.05
if p_value < a:
    print('rejected Null')
else:
    print('failed to reject Null')
    
#CodeUp student will be using Macbook

rejected Null

This is now became True negative. We rejected Null and test shows the p_value is below alpha

In [ ]:
from env import get_connection
from sqlalchemy import create_engine, text
def get_db_url(database):
    return get_connection(database)

In [4]:
url = get_db_url('employees')
query = text("select emp_no, gender, dept_name from employees join dept_emp using (emp_no) join departments using (dept_no) where to_date = '9999-01-01' and dept_name in ('Marketing', 'Sales')")
engine = create_engine(url)
df=pd.read_sql(query,engine.connect())
df

NameError: name 'get_db_url' is not defined

Choose another 2 categorical variables from the mpg dataset. 
State your null and alternative hypotheses. 
State your alpha. 
Perform a chi2 test of independence. 
State your conclusion

In [2]:
#import data from pydataset
df=data('mpg')
df

NameError: name 'data' is not defined

In [ ]:
df.info()

In [ ]:
df.nunique()

In [ ]:
df.year.value_counts()

In [ ]:
df.cyl.value_counts()

Null: There are no association b/w car year and cylinder
Alternative:There are correlation

In [3]:
observed = pd.crosstab(df.year, df.cyl)
observed

NameError: name 'pd' is not defined

In [ ]:
chi2, p, dof, expected = stats.chi2_contingency(observed)

In [ ]:
chi2

In [ ]:
p

In [ ]:
dof

In [ ]:
expected

Use the data from the employees database to answer these questions:
Is an employee's gender independent of whether an employee works in sales or marketing? (only look at current employees) Is an employee's gender independent of whether or not they are or have been a manager?

In [12]:
observed = pd.crosstab(df.gender, df)

In [1]:
if p < alpha:
    print('we reject the null hypothesis')
else:
    print('we accept the null hypothesis')

NameError: name 'get_db_url' is not defined

Use the data from the employees database to answer these questions:

is an employee's gender independent of whether an employeeworks in sales or marketing?

is an employee's gender independent of whether or not they areor have been a manager?

In [ ]:
mpg = data('mpg')
mpg['transmission'] = mpg.trans.str[:-4] 
mpg.head()

We will calculate the values we would expect to see if the two groups are independent.
For each subgroup, we calculate the proportion of the total that it is, then multiply each subgroup's proportion by the proportion from every other subgroup to determine the expected values

In [ ]:
n = mpg.shape[0]
transmission_proportions = mpg.transmission.value_counts()/n
transmission_proportions

In [ ]:
drive_proportions = mpg.drv.value_counts()/n
drive_proportions

In [ ]:
expected = pd.DataFrame()
for transmission_group, t_prop in transmission_proportions.items():
    for drive_group, d_prop in drive_proportions.items():
        expected.loc[drive_group, transmission_group] = t_prop * d_prop
        
expected.sort_index(inplace=True)
expected

In [ ]:
expected *= n
expected

In [ ]:
observed = pd.crosstab(mpg.drv, mpg.transmission)
observed

In [ ]:
chi2 = ((observed - expected)**2 / expected).values.sum()
chi2

In [ ]:
nrows, ncols = observed.shape
dof= (nrows - 1) * (ncols - 1)

In [ ]:
stats.chi2(dof).sf(chi2)