Do your work for this exercise in a jupyter notebook named hypothesis_testing.ipynb.

For each of the following questions, formulate a null and alternative hypothesis (be as specific as you can be), then give an example of what a true positive, true negative, type I and type II errors would look like. Note that some of the questions are intentionally phrased in a vague way. It is your job to reword these as more precise questions that could be tested.

Has the network latency gone up since we switched internet service providers?

Null hypothesis (H0): The network latency has not have any difference since we switched internet service providers.

Alternative hypothesis (Ha): The network latency has gone up since we switched internet service providers.

True Positive: Occurs when the network latency has indeed gone up since switching internet service providers, and the test correctly detects this increase in latency.
True Negative: Occurs when the network latency has not gone up since switching internet service providers, and the test correctly identifies that there is no increase in latency.No relationship, but we fail to reject

Type I Error (False Positive): Occurs when the network latency has not gone up since switching internet service providers, but the test incorrectly detects an increase in latency and falsely concludes that the latency has increased.
Type II Error (False Negative): Occurs when the network latency has gone up since switching internet service providers, but the test fails to detect this increase and incorrectly concludes that the latency has not increased.

Is the website redesign any good?

Null H0: website redesign does not do any good
Alternative Ha: website redesign boost online sale by 50% by convenient click to buy
    
True Positive: Occurs when the redesign increases sales 1 month after it was released online, and test correctly detect when there are high click to buy rate
True Negative: Occurs when the sales does not increase nor decrease 1 month after the release of a redesigned webpage even with the high click to buy
    
Type I False Positive: Occurs when sales does not increase with website redesign and test incorrectly detect that the sales increased and falsely concludes that the redesign was responsible
Type II error False Negative: Test fails to detect an increase in sales, even though sales has increase within 1 month of deploying new web design

Is our television ad driving more sales?

Null: Television ad does not drive more sales because there are more streaming audience than TV audience
Alternative: Television ad does drive up sales because it still expose product to what is left of TV audience
    
True Positive: Test correctly detect higher sales when TV ad were deploy 1 month
True Negative: Test correctly detect there are no changes in sales after 1 month of ad deployment
    
Type I: False Positive: Test incorrectly detect increase of sales even though sales does not increase after 1 month of ad deployment
Type II: False Negative: Test incorrectly detect no increase in sales even though sales does increase after 1 month of ad deployment.

Exercises
Continue working in your hypothesis_testing notebook.

Use the following contingency table to help answer the question of whether using a macbook and being a codeup student are independent of each other.

 	              Codeup Student	Not Codeup Student
Uses a Macbook	        49	               20
Doesn't Use A Macbook	1	               30
Choose another 2 categorical variables from the mpg dataset.

State your null and alternative hypotheses.
State your alpha.
Perform a chi2 test of indepedence.
State your conclusion

Null: no relationship between codeup vs noncodeupstudent
Alternative: CodeUp student tend to use Macbook

In [3]:
import numpy as np
import pandas as pd
from scipy import stats
from pydataset import data


data_one = np.array([[49, 20],
                 [1, 30]])
contingency_table = pd.DataFrame(data_one, index=['Use Macbook', 'No a Macbook'], columns=['Codeup Student', 'Not Codeup Student'])


chi2, p_value, dof, expected = stats.chi2_contingency(contingency_table)

In [4]:
chi2

36.65264142122487

In [5]:
p_value

1.4116760526193828e-09

In [6]:
dof

1

In [7]:
expected

array([[34.5, 34.5],
       [15.5, 15.5]])

In [8]:
a = 0.05
if p_value < a:
    print('rejected Null')
else:
    print('failed to reject Null')
    
#CodeUp student will be using Macbook

rejected Null

This is now became True negative. We rejected Null and test shows the p_value is below alpha

Choose another 2 categorical variables from the mpg dataset and perform a chi2 contingency table test with them. Be sure to state your null and alternative hypotheses.

In [9]:
#import data from pydataset
df = data('mpg')
df

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [10]:
#look at info
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 1 to 234
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  class         234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 21.9+ KB

In [11]:
#use .nunique to see which columns have categorical variables
df.nunique()

manufacturer    15
model           38
displ           35
year             2
cyl              4
trans           10
drv              3
cty             21
hwy             27
fl               5
class            7
dtype: int64

In [12]:
#look at year data
df.year.value_counts()

1999    117
2008    117
Name: year, dtype: int64

In [13]:
#look at cyl data
df.cyl.value_counts()

4    81
6    79
8    70
5     4
Name: cyl, dtype: int64

In [14]:
observed = pd.crosstab(df.year, df.cyl)
observed

cyl    4  5   6   8
year
1999  45  0  45  27
2008  36  4  34  43

CALCULATE chi2 AND P-value

In [15]:
chi2, p, degf, expected = stats.chi2_contingency(observed)

In [16]:
#output values
print('Observed')
print(observed.values)
print('\nExpected')
print(expected.astype(int))
print('\n----')
print(f'chi^2 = {chi2:.4f}')
print(f'p     = {p:.4f}')

Observed
[[45  0 45 27]
 [36  4 34 43]]

Expected
[[40  2 39 35]
 [40  2 39 35]]

----
chi^2 = 10.1888
p     = 0.0170

CONCLUDE

In [17]:
if p < alpha:
    print('We reject the null hypothesis')
else:
    print('We fail to reject the null hypothesis')

NameError: name 'alpha' is not defined

Use the data from the employees database to answer these questions:

In [ ]:
from env import get_connection
from sqlalchemy import create_engine, text

In [ ]:
def get_db_url(database):
    return get_connection(database)

In [ ]:
#set sql query and read in data
url = get_db_url('employees')
query = text("select emp_no, gender, dept_name from employees join dept_emp using (emp_no) join departments using (dept_no) where to_date = '9999-01-01' and dept_name in ('Marketing','Sales')")
engine = create_engine(url)
df = pd.read_sql(query, engine.connect())
df

In [ ]:
#view gender data
df.gender.value_counts()

In [ ]:
#view dept_name data
df.dept_name.value_counts()

In [ ]:
#create contigency table
observed = pd.crosstab(df.gender, df.dept_name)
observed

In [ ]:
#calculate chi2 and p-value
chi2, p, degf, expected = stats.chi2_contingency(observed)

In [ ]:
#output values
print('Observed')
print(observed.values)
print('\nExpected')
print(expected.astype(int))
print('\n----')
print(f'chi^2 = {chi2:.4f}')
print(f'p     = {p:.4f}')

In [ ]:
#conclude
if p < alpha:
    print('We reject the null hypothesis')
else:
    print('We fail to reject the null hypothesis')

Is an employee's gender independent of whether or not they are or have been a manager?

In [ ]:
#set sql query and read in data
url = get_db_url('employees')
query = text("SELECT emp_no, gender, dept_no FROM employees LEFT JOIN dept_manager USING (emp_no)")
engine = create_engine(url)
df = pd.read_sql(query, engine.connect())
df

In [ ]:
#look at data
df.info()

In [ ]:
#look at dept_no data
df.dept_no.value_counts(dropna=False)

In [ ]:
#fill in nulls
df.dept_no = df.dept_no.fillna('not manager')

In [ ]:
df.dept_no.value_counts()

In [ ]:
#make new column using np.where
# np.where( condtion, this happens when true, this happens when false)
df.dept_no = np.where( df.dept_no != 'not manager', 'manager', 'not manager')

In [ ]:
df.dept_no.value_counts()

In [ ]:
#create contigency table
observed = pd.crosstab(df.gender, df.dept_no)
observed

In [ ]:
#calculate chi2 and p-value
chi2, p, degf, expected = stats.chi2_contingency(observed)

In [ ]:
#output values
print('Observed')
print(observed.values)
print('\nExpected')
print(expected.astype(int))
print('\n----')
print(f'chi^2 = {chi2:.4f}')
print(f'p     = {p:.4f}')

In [ ]:
#conclude
if p < alpha:
    print('We reject the null hypothesis')
else:
    print("we fail to reject the null hypothesis")

BONUS!!

In [ ]:
mpg = data('mpg')
mpg['transmission'] = mpg.trans.str[:-4] 
mpg.head()

We will calculate the values we would expect to see if the two groups are independent.
For each subgroup, we calculate the proportion of the total that it is, then multiply each subgroup's proportion by the proportion from every other subgroup to determine the expected values

In [ ]:
n = mpg.shape[0]
transmission_proportions = mpg.transmission.value_counts()/n
transmission_proportions

In [ ]:
drive_proportions = mpg.drv.value_counts()/n
drive_proportions

In [ ]:
expected = pd.DataFrame()
for transmission_group, t_prop in transmission_proportions.items():
    for drive_group, d_prop in drive_proportions.items():
        expected.loc[drive_group, transmission_group] = t_prop * d_prop
        
expected.sort_index(inplace=True)
expected

In [ ]:
expected *= n
expected

In [ ]:
observed = pd.crosstab(mpg.drv, mpg.transmission)
observed

In [ ]:
chi2 = ((observed - expected)**2 / expected).values.sum()
chi2

In [ ]:
nrows, ncols = observed.shape
dof= (nrows - 1) * (ncols - 1)

In [ ]:
stats.chi2(dof).sf(chi2)

Continue working in your hypothesis_testing notebook.

Answer with the type of stats test you would use (assume normal distribution):

Is there a relationship between the length of your arm and the length of your foot?

#I would use the Pearson correlation coefficient due to having continuous variables

Does smoking affect when or not someone has lung cancer?

#smoking and has lung cancer or not are categorical variable and we can use the Chi-Square Test of independence to see if smoking group is independent of the lung cancer group.

Is gender independent of a person’s blood type?


#chi2 test of independent can provide a value for two categorical value to see if a person's gender is independent of a person's blood type

Does whether or not a person has a cat or dog affect whether they live in an apartment?

#again with these two categorical value, I will be using chi square test of independent

Does the length of time of the lecture correlate with a student's grade?


#The length of time of lecture as well as student's grade are two continuous numerical value and we can use the pearsoncorrelation coefficient test to determine if these two groups have any relationship to each other.

In [ ]:
from env import get_connection
import pandas as pd
from scipy import stats
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import text, create_engine

Use the telco_churn data

Does tenure correlate with monthly charges?

Does tenure correlate with total charges?

What happens fi you control for phone and internet service?

In [ ]:
def get_db_url(database):
    return get_connection(database)
url = get_db_url('telco_churn')
query = ('SELECT * FROM customers')
engine = create_engine(url)

In [ ]:
df = pd.read_sql(query, engine.connect())
df

Does tenure correlate with montly charges?

Hypothesis:

Null: There is no linear correlation between tenure and monthly charges

Alerternative: there is a linear correlation between tenure and monthly charges

In [ ]:
#select the data
charges_df = df[['monthly_charges', 'tenure']]

#plot the data
sns.regplot(x = 'tenure', y= 'monthly_charges', data = charges_df, marker='.')

In [ ]:
#distributinos of the data to check for normalcy
charges_df.monthly_charges.hist()
charges_df.tenure.hist()

In [ ]:
alpha = 0.05
r, p = stats.pearsonr(charges_df.tenure, charges_df.monthly_charges)

def eval_result(alpha, p):
    if p < alpha:
        return print(f'Reject the null hypothesis. There is a linear correlation')
    else: 
        return print(f'We fail to reject the null hypothesis. No correlation')

In [ ]:
eval_result(alpha, p)
r

### There is a correlation between monthly charges and tenure. With an r of .24, we can say the correlation is "weak-moderate"

Does tenure correlate with total charges?

Null: There is no linear correlation between tenure and total charges.

Alternative: There is a linear correlation between tenure and total charges

In [ ]:
alpha = 0.05

#select the data
ttl_charges_df = df[['tenure', 'total_charges']]

# look at a summary of the dataframe
#ttl_charges_df.info()

#try to find the data errors
ttl_charges_df.total_charges.sort_values()

#convert the empty space to '0'
ttl_charges_df['total_charges']= ttl_charges_df['total_charges'].str.replace(' ', '0').astype('float')

#confirm our datatypes
ttl_charges_df.info()

In [ ]:
# plot the data
sns.regplot(x = 'tenure', y='total_charges', data = ttl_charges_df, marker='.', line_kws={'color': 'rebeccapurple'})
plt.show()

In [ ]:
# check assumptions
ttl_charges_df.total_charges.hist()
plt.show()
ttl_charges_df.tenure.hist()
plt.show()

In [ ]:
# run our test
r, p = stats.pearsonr(ttl_charges_df.tenure, ttl_charges_df.total_charges)

eval_result(alpha, p)

r

In [ ]:
###There is a linear correlation between tenure and total charges.

###With an r of .83, the correlation is strong

What happens if you control for phone and internet service?

Null: There is no linear correlation between tenure and monthly charges.
    
Alternative: There is linear correlation between tenure and monthly charges

In [ ]:
#set alpha 
alpha = 0.05

#select the data
phone_df = df[(df.phone_service == 'Yes') & (df.internet_service_type_id == 1)][['tenure', 'monthly_charges']]

#look at the info
phone_df.info

# plot the data
sns.regplot(x='tenure', y='monthly_charges', data=phone_df, marker='.', 
            line_kws=({'color': 'rebeccapurple'}))
plt.show()

#check for normal distribution
phone_df.tenure.hist()
plt.show()

phone_df.monthly_charges.hist()
plt.show()

In [ ]:
r, p = stats.pearsonr(phone_df.tenure, phone_df.monthly_charges)

eval_result(alpha, p)

print(f'r value = {r}')

There is a moderate-strong correlation betwen tenure and monthly charges for customers who have only phone service.

3. Use the employees database.

Is there a relationship between how long an employee has been with the company and their salary?

Is there a relationship between how long an employee has been with the company and the number of titles they have had?

In [ ]:
url = get_db_url('employees')

query = ("SELECT * FROM employees JOIN salaries USING (emp_no)WHERE to_date = '9999-01-01';")
engine = create_engine(url)
df = pd.read_sql(query,engine.connect())
df.info()
df.head()

Is there a relationship between an employee's tenure and their salary?

Null: There is no linear correlation between employee tenure and salary

Alternative: There is a linear correlation between employee tenure and salary

In [ ]:
alpha = 0.05

# select our data, calculate tenure
df['tenure'] = pd.to_datetime("today") - pd.to_datetime(df.hire_date) # ddddd hh:mm:ss

df['tenure'] = df.tenure.astype('str').str.split(' ', expand=True)[0].astype('int')

# df.info()
tenure_df = df[['tenure', 'salary']]

# plot the data
sns.regplot(x='tenure', y='salary', data=tenure_df, marker='.',  line_kws=({'color': 'firebrick'}))
#plt.axhline(y=np.nanmean(df.y))

In [ ]:
#look at the distribution, look for normality
tenure_df.tenure.hist()
plt.title('tenure')
plt.show()
tenure_df.salary.hist()
plt.title('salary')
plt.show()

In [ ]:
# run the test
r, p = stats.pearsonr(tenure_df.tenure, tenure_df.salary)

# evaluate results
eval_result(alpha, p)

print('r value: ', r)

**Takeaways**
There is a moderate correlation between tenure and salary.

Is there a relationship between employee tenure and the number of titles they have had?

Hypothesis:

Null : there is no linear correlation between tenure and number of titles.

Alternative : there is a linear correalation between tenure and number of titles.

In [ ]:
alpha = 0.05

# select the data
url = get_db_url('employees')

query = text("SELECT t.emp_no, COUNT(t.title) AS num_titles, te.tenure FROM titles t JOIN (select emp_no, datediff(now(), min(from_date)) AS tenure FROM titles GROUP BY emp_no HAVING max(to_date) = '9999-01-01') te USING (emp_no) GROUP BY t.emp_no;")
engine = create_engine(url)
df = pd.read_sql(query, engine.connect())

df.head()

In [ ]:
df = df[['num_titles', 'tenure']]

# plot the data
sns.regplot(x='tenure', y='num_titles', data=df, marker='.', line_kws=({'color': 'seagreen'}))

In [ ]:
# observatations:
df.num_titles.value_counts()

In [ ]:
r, p = stats.pearsonr(df.tenure, df.num_titles)

if p < alpha:
    print("We reject the null hypothesis")
    print("Evidence supports the claim that there is a linear correlation between tenure and number of titles")
else:
    print("We fail to reject the null hypothesis")

r, p

Takeaways

There is a difference in tenure and number of titles an employee has held.


4. Use the sleepstudy data

A. Is there a relationship between days and reaction time?

In [ ]:
from pydataset import data
df = data('sleepstudy')
df.info()
df.head()

In [ ]:
Null: There is no linear correlation between days and reaction time
    
Alternative: There is alinear correlation between days and reaction time

In [ ]:
alpha = 0.05

# select the data
df = df[['Reaction', 'Days']]

# plot the data
sns.regplot(x='Days', y='Reaction', data=df, marker='.', line_kws=({'color':'seagreen'}))

In [ ]:
# check for normal distribution, plot histograms
df.Days.hist()
plt.show()

df.Reaction.hist()
plt.show()

In [ ]:
# run the spearman test
r, p = stats.spearmanr(df.Days, df.Reaction)
eval_result(alpha, p)
print('r value: ', r)

COMPARISON EXERCISE!!
Answer with the type of test you would use (assume normal distribution):

Is there a difference in grades of students on the second floor compared to grades of all students?
###Two sample t-test and compare the means of grade of students on the second floor vs grades of all students


Are adults who drink milk taller than adults who don't drink milk?### two-sample t-test to compare heights of adults who drink milk vs heights of adult who don't drink milk


Is the price of gas higher in Texas or in New Mexico?
###independent samples t-test to compare the means of gas prices in gas price in Texas vs gas prices in New Mexico

Are there differences in stress levels between students who take data science vs students who take web development vs students who take cloud academy?
###one-way analysis of variance test to compare students taking data science, web development, and cloud academy. If ANOVA test indicates difference, we can use Tukey's test to perform a test to see which group differ significantly from each other

#######################################################

Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. 

A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. 

Use a .05 level of significance.

In [ ]:
a = 0.05

# Sample data for office #1
sample_mean_1 = 90
sample_std_dev_1 = 15
sample_size_1 = 40

# Sample data for office #2
sample_mean_2 = 100
sample_std_dev_2 = 20
sample_size_2 = 50

# Calculate pooled sample variance
pooled_sample_variance = (((sample_size_1 - 1) * sample_std_dev_1**2) + ((sample_size_2 - 1) * sample_std_dev_2**2)) / (sample_size_1 + sample_size_2 - 2)

# Calculate t-statistic
t_statistic = (sample_mean_1 - sample_mean_2) / (pooled_sample_variance * ((1 / sample_size_1) + (1 / sample_size_2)))**0.5

# Degrees of freedom
degrees_of_freedom = sample_size_1 + sample_size_2 - 2

# Two-tailed t-test at 0.05 level of significance
alpha = 0.05
critical_t_value = stats.t.ppf(1 - alpha / 2, degrees_of_freedom)

# Make a decision
if abs(t_statistic) > critical_t_value:
    print("Reject the null hypothesis: There is a significant difference between the mean sales days of office #1 and office #2.")
else:
    print("Fail to reject the null hypothesis: There is no significant difference between the mean sales days of office #1 and office #2.")

Load the mpg dataset and use it to answer the following questions:


Do manual cars get better gas mileage than automatic cars?

In [25]:
df  #df is mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

Is there a difference in fuel-efficiency in cars from 2008 vs 1999?

Null: The fuel-efficiency in cars from 2008 are not different from cars in 1999

Alternative: The fuel-efficiency in cars from 2008 are different from 1999

In [43]:
cars_2008 = df[df['year']==2008]
cars_1999 = df[df['year']==1999]

In [46]:
mean_mpg_2008 = cars_2008['cty']

In [47]:
mean_mpg_1999 = cars_1999['cty']

In [48]:
t_time, p_time = stats.ttest_ind(mean_mpg_2008, mean_mpg_1999)
t_time, p_time

(-0.5674988409997608, 0.5709240495406107)

In [50]:
a = 0.05
if (t_time > 0) and (p_time /2 <a):
    print('We reject the null hypothesis.')
else:
    print('we failed to destroy the null hypothesis')

we failed to destroy the null hypothesis

In [49]:
stats.ttest_ind(mean_mpg_2008, mean_mpg_1999)

Ttest_indResult(statistic=-0.5674988409997608, pvalue=0.5709240495406107)

Are compact cars more fuel-efficient than the average car? 

###we will be using 2-sample, 1 failed t-test

Null: compact cars fuel-efficient are not the same as the average car

Alternative: compact cars fuel-efficient will have better fuel-efficient than average car

In [51]:
df

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [54]:
#i am interested in the class and the cty column
df.columns

Index(['manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty',
       'hwy', 'fl', 'class'],
      dtype='object')

In [60]:
df['class'].unique()

array(['compact', 'midsize', 'suv', '2seater', 'minivan', 'pickup',
       'subcompact'], dtype=object)

In [68]:
compact_cty = df[df.('class') == 'compact'].cty

SyntaxError: invalid syntax (696294809.py, line 1)